     
	<div id="select-container">
			<div>
				<select id="selectHotel" onchange="document.getElementById('hotel-img').src = hotelUrlMap[this.value];">
					<option >Choose a Hotel</option>
				</select>
				<select id="selectNights">
					<option>Total Nights</option>
				</select>
			</div>
			<br>
			<div>
				<select id="selectVehicle">
					<option>Choose a Vehicle</option>
				</select>
			</div>
			<br>
			<div>
				<select id="selectGas">
					<option>Choose a Gas Station</option>
				</select>
			</div>
			<br>
			<div>
			<label for="distance"> Miles to travel</label>
			<select id="distance">
					<option id="distanceO">{{sentData}}</option>
			</select>
			</div>
			<label for="cheapChk"> Select Cheapest:Hotel/Nights/Gas <label>
			<input type="checkbox" id="cheapChk"/><br>
	    </div><!-- /.container -->
		
		<div>
			<p id="warn"> <p>
			<p id="showHomepage"> <p>
			<button id="calcAll"> Calculate </button>
			<p id="totalGasPrice"> <p>
			<p id="stayPrice"> <p>
			<p id="totalPrice"> <p>
		</div>
		
		<div id="image-container">
			<img src="http://tripoutlook.com/wp-content/uploads/2013/01/Hotel-Sis-Pins.jpg" id="hotel-img" height="40%" width="40%"> 
		<div>
	</div>
	<script src="/js/selectScript.js"> </script>
	
	

	
	