     
	<div>
		<select id="selectHotel">
			<option >Choose a Hotel</option>
		</select>
		<select id="selectNights">
			<option>Total Nights</option>
		</select>
	</div>
	<br>
	<div>
		<select id="selectVehicle">
			<option>Choose a Vehicle</option>
		</select>
	</div>
	<script src="/selectScript.js">
		
	</script>