     
	<div id="select-container">
			<div>
				<select id="selectHotel">
					<option >Choose a Hotel</option>
				</select>
				<select id="selectNights">
					<option>Total Nights</option>
				</select>
			</div>
			<br>
			<div>
				<select id="selectVehicle">
					<option>Choose a Vehicle</option>
				</select>
			</div>
			<br>
			<div>
				<select id="selectGas">
					<option>Choose a Gas Station</option>
				</select>
			</div>
			<br>
			<div>
			<label for="distance"> Miles to travel</label>
			<select id="distance">
					<option id="distanceO">{{sentData}}</option>
			</select>
			</div>
			<label for="cheapChk"> Select Cheapest:Hotel/Nights/Gas <label>
			<input type="checkbox" id="cheapChk"/><br>
	    </div><!-- /.container -->
		
		<div>
			<p id="warn"> <p>
			<p id="showHomepage"> <p>
			<button id="calc"> Calculate </button>
		</div>
	</div>
	<script src="/js/selectScript.js"> </script>
	
	

	
	