body {
	position: relative;
}

.starter-template h1 {
	margin-bottom: 30px;
}
form label.input-label input {
	margin-right: 50px;
	font-weight: normal;
}
#map {
	 min-height: 400px;
	 height: 100%;
	 width: 50%;
	 margin: auto;
}

#select-container {
	width: 850px;
	margin: auto;
	padding: 40px;
}

#select-container select {
	height: 20px;
}

#total {
	text-align: center;
	font-size: 16pt;
	margin-bottom: 10px;
}

#cost-container {
	width: 900px;
	margin: auto;
	overflow: auto;
	width: 80%
}

#select-container {
	float:left;
	width:50%;

	padding: 40px 50px 40px 120px;
}


#image-container {
	float:left;
	width: 50%;

}

#calcAll {
	display: block;
}

.cost-shower {
	font-weight: bold;
	padding: 10px 10px 10px 0px;
}

a#returnHome {
	position:absolute;
	top: 10px;
	left: 15px;
	font-size: 16pt;
}

#transit-fields {
	margin: auto;
	width: 300px;
}
