<!doctype html>
<html>
 <!-- Bootstrap core CSS -->
    <link href="/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/index.css" rel="stylesheet">


    <!-- Custom styles for this template -->
    <link href="starter-template.css" rel="stylesheet">
<body>
	<a href="/" id="returnHome">Plan Another Trip</a>
	<h2 style="text-align:center; padding-bottom: 30px;">Calculate Your Driving Costs:</h2>
	<div id="cost-container">
		{{{body}}}
	</div>

</body>
</html>
