     
	<div>
		<select id="selectHotel">
			<option>Choose a Hotel</option>
		</select>
	</div>
	<div>
		<select id="selectVehicle">
			<option>Choose a Vehicle</option>
		</select>
	</div>
	<script src="/hotelScript.js">
		
	</script>